.page-container > .page-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.text-layer > * {
  position: absolute;
  color: transparent;
  white-space: pre;
}

.text-layer ::selection {
  background-color: #B4D5FE;
}
